form fieldset{
    width: 20%;
}

legend{
    font-weight: bold;
}

form textarea {
    height: 4.75rem;
    width: 100%;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    resize: none;
  }

  .formContainer{
      margin-left: 15%;
      margin-top: 10%;
  }